:root {
  --color-white: #fff;
  --color-gray-100: #a1a1aa;
  --color-gray-600: #71717a;
  --color-gray-700: #414144;
  --color-gray-800: #27272a;
  --color-gray-900: #202124;
  --color-transparent: transparent;

  --transition-duration-normal: 0.3s;

  --header-height: 44px;
  --menu-width: 234px;
}
